argcomplete==3.6.2
asgiref==3.8.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
bitarray==3.3.1
bitstring==4.3.1
certifi==2025.1.31
cffi==1.17.1
channels==4.2.2
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
constantly==23.10.4
cryptography==44.0.2
daphne==4.1.2
decorator==5.2.1
Django==5.2
django-formset==1.7.4
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
docker-py==1.10.6
docker-pycreds==0.4.0
ecdsa==0.19.1
esptool==4.8.1
et_xmlfile==2.0.0
future==1.0.0
GDAL==3.8.4
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
h11==0.14.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
intelhex==2.3.0
msgpack==1.1.0
numpy==2.2.5
openpyxl==3.1.5
pandas==2.2.3
pillow==11.1.0
psycopg==3.2.5
psycopg-binary==3.2.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==25.0.0
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
ratelim==0.1.6
redis==5.2.1
reedsolo==1.7.0
reportlab==4.4.1
requests==2.32.3
service-identity==24.2.0
setuptools==79.0.0
shapely==2.1.0
six==1.17.0
sqlparse==0.5.3
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
websocket-client==1.8.0
websockets==15.0.1
zope.interface==7.2
