{% extends 'base/base.html' %}

{% block content %}
  <h2>Détails de l'utilisateur</h2>
  
  <p><strong>Nom :</strong> {{ utilisateur.nom }}</p>
  <p><strong>Prénom :</strong> {{ utilisateur.prenom }}</p>
  <p><strong>Prénom :</strong> {{ utilisateur.username }}</p>
  <p><strong>Téléphone :</strong> {{ utilisateur.telephone }}</p>
  <p><strong>Email :</strong> {{ utilisateur.email }}</p>
  <p><strong>Rôle :</strong> {{ utilisateur.role }}</p>
  <p><strong>Statut :</strong> {{ utilisateur.is_active|yesno:"Actif,Inactif" }}</p>

{% endblock %}
